/* Main.module.css */
.topic {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre seções */
}

.texto {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.front {
    background-color: var(--azul); /* Ajuste conforme necessário */
}

.back {
    background-color: var(--cinza); /* Ajuste conforme necessário */
}

.mobile {
    background-color: var(--amarelo); /* Ajuste conforme necessário */
}

.espaco {
    margin-bottom: 20px; /* Espaçamento inferior para garantir que o vídeo fique abaixo do título */
}
